<footer class="py-4 fixed bottom-0 left-0 w-full p-5 shadow-sm">
  <div class="mx-auto text-center flex flex-col md:flex-row justify-end items-center">
    <p class="md:mb-0">
      &copy; {{ currentYear }} {{ author }}. All rights reserved.
    </p>
    <ul class="flex space-x-4 ml-0 md:ml-4">
      <li>
        <a href="https://github.com/totally-nerdy/tn-mdb-log-to-query" class="text-blue-400 hover:underline"
          target="_blank" rel="noopener">Thanks for totally-nerdy</a>
      </li>
    </ul>
  </div>
</footer>
